/* Nothing here yet */
/*Brand Colors*/
/*Colors*/
/*General Colors*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FFF; }

.navbar {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #f6f6f6 100%);
  /* W3C */
  border-bottom: 1px solid #d6d6d6; }
  .navbar .navbar-inner {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar .brand {
    background: url("logo_cj_secondary.png") no-repeat 0 0 transparent;
    width: 210px;
    height: 40px; }
    .navbar .brand span {
      display: none; }
  .navbar .nav {
    top: 0;
    padding-top: 20px;
    /*@if $point == large-device-lower {
        @media (max-width: $large-screen) {
            @content;
        }
    }
    @else if $point == medium-device-lower {
        @media (max-width: $medium-screen) {
            @content;
        }
    }*/ }
    @media screen and (min-width: 768px) {
      .navbar .nav {
        padding-top: 0; } }
    .navbar .nav li a {
      color: #005f99;
      font-size: 16px;
      font-weight: bold; }
      .navbar .nav li a:hover {
        color: #005f99; }

#sidebar button {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

#docsSearch button {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f8f8f8 0%, #eeeeee 100%);
  /* W3C */
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
  transition: background 400ms;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #C0C3C8;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 7px;
  line-height: normal;
  color: #505050;
  text-shadow: none; }
  #docsSearch button:hover {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f6f6f6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #f6f6f6 100%);
    /* W3C */ }
  #docsSearch button:focus {
    outline: none; }

button, .button {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f8f8f8 0%, #eeeeee 100%);
  /* W3C */
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
  transition: background 400ms;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #C0C3C8;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 7px;
  line-height: normal;
  color: #505050;
  text-shadow: none; }
  button:hover, .button:hover {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f6f6f6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #f6f6f6 100%);
    /* W3C */ }
  button:focus, .button:focus {
    outline: none; }

/*.navbar {
	margin-bottom: 20px;
}
.navbar .navbar-inner {
	background-color: #FFF;
	padding-top: 10px;
	@include vendor-prefix(box-shadow, none);

	.container-fluid {
		height: 123px;

		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 0;
			width: 182px;
			z-index: 3;
			left: 14px;
			bottom: -24px;
			border-top: 24px solid #FFF;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
		}
	}

	
	.brand {
		background: url('logo_cj.png') no-repeat 0 0 transparent;
		width: 177px;
		height: 113px;
		margin-left: 20px;
		position: relative;
		top: 3px;
	}
}*/
