/* Nothing here yet */
/*Brand Colors*/
$cjBluePrimary: #005F99;
$cjGreen: #8EBF72;

/*Colors*/
$darkerGray: #333333;
$darkGray: #505050;
$lightGray: #747474;
$lighterGray: #8E8E8E;
$lightestGray: #E3E3E3;
$alertRed: #df485c;
$warningOrange: #f08a24;
$warningYellow: #efcc08;
$warningBG: #fffad3;
$successGreen: #4c9804;
$lightYellow: #fffad3;

/*General Colors*/
$contentBG: #E6E6E6;
$contentPageBG: #FFF;
$contentText: #505050;
$contentBorder: #D6D6D6;
$dividerColor: #CFCFCF;
$headerBG: #F7F7F7;
$inputBG: #F7F7F7;
$inputBorder: $lightestGray;
$btnText: $darkGray;

$primary-color: $cjBluePrimary;

$xsmall-screen: 480px;
$small-screen: 768px;
$row-width: 1080px;

@mixin fluid() {
	margin-left: -20px;
	margin-right: -20px;

	@include breakpoint(small-device-higher) {
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin breakpoint($point) {
    /*@if $point == large-device-lower {
        @media (max-width: $large-screen) {
            @content;
        }
    }
    @else if $point == medium-device-lower {
        @media (max-width: $medium-screen) {
            @content;
        }
    }*/
    @if $point == row-width-lower {
        @media screen and (max-width: $row-width) {
            @content;
        }
    }
    @else if $point == small-device-lower {
        @media screen and (max-width: $small-screen) {
            @content;
        }
    }
    @else if $point == x-small-device-lower {
        @media screen and (max-width: $xsmall-screen) {
            @content;
        }
    }
    /*apply to device size and larger*/
    /*@else if $point == large-device-higher {
        @media (min-width: $large-screen) {
            @content;
        }
    }
    @else if $point == medium-device-higher {
        @media (min-width: $medium-screen) {
            @content;
        }
    }*/
    @else if $point == row-width-higher {
        @media screen and (min-width: $row-width) {
            @content;
        }
    }
    @else if $point == small-device-higher {
        @media screen and (min-width: $small-screen) {
            @content;
        }
    }
    @else if $point == x-small-device-higher {
        @media screen and (min-width: $xsmall-screen) {
            @content;
        }
    }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
  #{$name}: $argument;
}

@mixin gradient-vertical($top, $bottom) {
	background: $bottom; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top 0%,$bottom 100%); /* W3C */
}

@mixin trans-fast ($property: all) {
		-webkit-transition: $property 400ms;
		-moz-transition:    $property 400ms;
		-ms-transition:     $property 400ms;
		-o-transition:      $property 400ms;
		transition:         $property 400ms;
}

@mixin button() {
	@include gradient-vertical(#F8F8F8, #EEE);
	@include trans-fast(background);
	@include vendor-prefix(box-shadow, (0 1px 0 rgba(255,255,255,.4) inset,0 1px 1px 1px rgba(0,0,0,.05)));
    border: 1px solid #C0C3C8;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 7px;
	line-height: normal;
	color: #505050;
	text-shadow: none;

	&:hover {
		@include gradient-vertical(lighten( #F8F8F8, 3 ), lighten( #EEE, 3 ));
	}
    &:focus {
        outline: none;
    }
    &:active {
    	@include vendor-prefix(box-shadow, (inset 0 1px 0 rgba(0,0,0,.2)));
    }
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #FFF;
	background: #e6e6e6;
	color: #505050;
}
select,
.input-style,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
	@include vendor-prefix(border-radius, 0);
	&:focus {
		border: 1px solid $primary-color;
	    @include vendor-prefix(box-shadow, (inset 1px 1px 2px rgba(0,0,0, .25)));
	    outline: none;
	}
}

a {
	color: $cjBluePrimary;
}

h1 {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.1;

	@include breakpoint(small-device-higher) {
		font-size: 2.333em;
	}
}

h2 {
	font-weight: bold;
}

#contentArea {
	h1 {
		@extend h1;
	}
	h2 {
		@extend h2;
	}
	.category-list {
		margin: 0 -31px 1em;

		.category {
			background: #F8F8F8;
			border-color: $contentBorder;
			@include vendor-prefix(box-shadow, (0 1px 5px 2px rgba(0,0,0,.02)));

			&:hover {
				background: #FFF;
			}
		}

		&.two-col {
			.category {
				width: 48.1%;
			}
		}
	}
}

.sep {
	margin-bottom: 1em;
}

.contentWrapper {
	@include vendor-prefix(box-shadow, (0 1px 5px 2px rgba(0,0,0,.02)));
	margin-bottom: 20px;

	&.withRelated {
		margin-bottom: 0;
	}
}

#sidebar {
	h3 {
		font-weight: bold;
		text-transform: none;
		font-size: 20px;
		color: $contentText;
	}

	form .search-query {
		@extend .input-style;
	}

	button {
		@include vendor-prefix(box-shadow, none);
	}

	.nav-list .active a, .nav-list .active a:hover, .nav-list .active a:focus {
		color: $contentText;
	}
}

#serp-dd .result a:hover, #serp-dd .result > li.active, #full-Article strong a, .collection a, .contentWrapper a, .most-pop-articles .popArticles a, .most-pop-articles .popArticles a:hover span, .category-list .category .article-count, .category-list .category:hover .article-count {
	@extend a;
}

.navbar {
	position: relative;
	z-index: 1;
	@include gradient-vertical(lighten( #F8F8F8, 3 ), lighten( #EEE, 3 ));
	@include vendor-prefix(box-shadow, (0 1px 5px 0 rgba(0,0,0,.3)));

	.navbar-inner {
		background-color: transparent;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 7px solid $cjBluePrimary;
	}
	.brand {
		background: url('logo_cj_secondary.png') no-repeat 0 0 transparent;
		width: 210px;
		height: 40px;
		margin-left: 0;
		
		@include breakpoint(row-width-higher) {
			margin-left: 20px;
		}

		span {
			display: none;
		}
	}
	.nav {
		top: 0;
		padding-top: 20px;

		@include breakpoint(small-device-higher) {
			padding-top: 0;
		}

		li {
			a {
				color: $cjBluePrimary;
				font-size: 16px;
				font-weight: bold;

				&:hover {
					color: $cjBluePrimary;
				}
			}
		}
	}
}
.row-fluid, .most-pop-articles {
	width: auto;
	background: #FFF;
	border: solid #d6d6d6;
	border-width: 0 1px 1px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	@include fluid();
}

#docsSearch {
	border-bottom: 1px solid #e3e3e3;
	background: $headerBG;
	border: solid #d6d6d6;
	border-width: 0 1px 1px;
	max-width: $row-width - 40px;
	margin: 0 auto;
	@include fluid();

	h1 {
		@extend h1;
		padding-left: 20px;
		padding-right: 20px;
		color: $lighterGray;
	}
	
	+ #contentArea {
		@include fluid();
		max-width: $row-width - 40px;
		
		.most-pop-articles {
			max-width: 200%;
			margin-left: -20px;
			margin-right: -20px;
			padding: 20px 40px;
		}
	}

	#searchBar {
		text-align: left;

		input, button {
			@include vendor-prefix(border-radius, 0);
		}
		input {
			width: 80%;
			z-index: 10;
			position: relative;
			@include breakpoint(small-device-higher) {
				width: 85%;
			}
		}
		button {
			@include button();
			width: 20%;
			border-left: none;
			right: 0;
			z-index: 5;
			@include breakpoint(small-device-higher) {
				width: 15%;
			}
			@include breakpoint(x-small-device-lower) {
				padding: .9em;
			}
		}
	}
}

.most-pop-articles {
	h2, .popArticles {
		text-align: left;
	}
}

#fullArticle, #serp {
	h1, h2, h3, h4, h5, p,
	ul, ol, li,
	div, blockquote, dd, table {
		color: $darkGray;

	}
	h3, h4, h5 {
		color: $lightGray;
		line-height: 1.1;
	}
	h3 {
		line-height: 1.1;
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 12px;
		text-transform: uppercase;
	}
	p {
		strong {
			color: $lightGray;
		}
	}
}

button, .button {
	@include button();
}

.articleFoot p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: normal;
}